label, input {
    display: block;
}
#new-confirm-password, #confirm {
    margin-bottom: 10px;
    border: none;
    transition: filter 0.3s linear;
}
#confirm:hover {
    filter: brightness(1.2);
}
h2, #log-in-link {
    margin-bottom: 10px;
}
#new-password, h2 {
    margin-bottom: 37.5px;
}
#new-password, #new-confirm-password {
    margin-bottom: 30px;
}