header, h2 {
    text-decoration: none
}
header {
    padding: 20px
}
img {
    width: 500px;
    height: auto
}
.targeth2 {
    color: #444;
    padding-bottom: 20px;
    text-align: center
}
#projects {
    margin: 25px
}
.project {
    display: grid;
    place-items: center;
    align-content: center;
    padding-bottom: 275px;
    color: #555
}
.project:last-child {
    padding-bottom: 170px
}
h3, p {
    margin-bottom: 30px
}
p, image {
    margin-bottom: 20px
}
img, video {
    height: auto
}
img {
    max-width: 100%;
    border-radius: 8px
}
#img4 {
    width: 12.5%
}
#img6, #img7 {
    border: 5px solid #fff;
    background-color: #fff;
    border-radius: 10px;
    width: 1000px
}
video, #about, #contact {
    border-radius: 8px
}
video {
    max-width: 100%
}
#about, #contact {
    margin: 20px;
    background-color: #f4f4f4;
    padding: 25px
}
#about a, #contact a {
    color: #666;
    text-decoration: none
}
#about a:hover, #contact a:hover {
    filter: brightness(0.6)
}
nav a[aria-current='page'] {
    text-decoration: underline
}