body {
  font-family: 'Arial', sans-serif; /* Set the document font */
  margin: 0; /* Remove the default margin */
  padding: 0; /* Remove the default padding */
  box-sizing: border-box; /* Include padding and border in the box model */
  min-height: 100vh; /* Ensure a minimum viewport height */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange child elements in a column */
}

header {
  background-color: #3498db; /* Set the background color */
  color: #fff; /* Set the text color */
  padding: 10px 20px; /* Add padding to the header */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Align items vertically in the center */
}

.logo {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Align items vertically in the center */
}

.logo img {
  max-width: 10%; /* Set the maximum width for the logo image */
  height: auto; /* Maintain the aspect ratio for the logo image */
}

nav ul {
  list-style: none; /* Remove default list styling */
  display: flex;
}

nav a {
  text-decoration: none; /* Remove underline from links */
  color: #fff; /* Set the text color for navigation links */
  margin-right: 15px; /* Add right margin to separate links */
  transition: color 0.3s ease; /* Add a smooth color transition effect */
}

nav a:hover {
  color: #ffcc00; /* Change text color on mouse hover */
}

main {
  flex-grow: 1; /* Allow main content to grow and fill the available space */
  padding: 20px; /* Add padding to the main content area */
}

.intro {
  text-align: center; /* Center align text in the introduction section */
}

footer {
  background-color: #333; /* Set the background color for the footer */
  color: #fff; /* Set the text color for the footer */
  text-align: center; /* Center align text in the footer */
  padding: 10px 0; /* Add padding to the footer */
}