body {
    background: url("images/stunning-galaxy-elements-this-image-260nw-1717095772.avif") no-repeat; /* Prevent repeat of image */
    background-size: cover; /* The whole page */
    background-attachment: fixed; /* Repairing the quality of image that covers the whole page */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header, h2 {
    text-decoration: none;
}

header {
    padding: 20px;
}

/* Styles that targets all the prosjects with the img src on portfolio.html */
img {
    width: 500px;
    height: auto; /* recommended */
}

h2 {
    padding-bottom: 20px; /* Padding only to bottom */
}

#projects {
    margin: 25px;
}

.project {
    margin-bottom: 30px;
}

img, video {
    height: auto;
}

img {
    max-width: 100%; /* Maximum Width */
    border-radius: 8px; /* border-radius for rounded corners */
}

/* Added, due to bigger size */
#img4 {
    width: 12.5%;
}

/* Grouping again */
video, #about, #contact {
    border-radius: 8px;
}

video {
    max-width: 100%;
    border: 1px solid #333; /* border for video element */
}

#about,
#contact {
    margin: 20px;
    background-color: #f4f4f4;
    padding: 25px;
}

h2,
#contact a {
    color: #333;
}

#contact a {
    text-decoration: none;
}

#contact a:hover {
    filter: brightness(2.0); /* Using simpler visible mouse hover */
}

.portfolio-link {
    text-decoration: underline;
}
