body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
    padding: 20px;
    background-color: #D3A897;
    color: #444;
}
h1, #start {
    margin-bottom: 15px;
}
#video, #end {
    margin-bottom: 10px;
}
.intro {
    text-align: center;
}
.underline-link {
    text-decoration: underline;
}